* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #ccc;
}

.square {
  background-color: lightblue;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}